@media screen and (max-width:600px) {
    
}
@media screen and (min-width:900px) {
    .section-faq{
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font-family: 'Barlow', sans-serif;
        padding: 5vh 0vw;
    }
    .titulo-faq{
        font-size: 2rem;
        color: white;
        margin-bottom: 3vh;
        margin-left: 5vw;
    }
    .linha-faq{
        width: 40%;
        height: .5vh;
        background-color: #ffcd2a;
        margin-left: 5vw;
    }
    .box-pergunta{
        width: 45%;
        background-color: #F2F2F2;
        border-radius: 5px;
        padding: 2vh;
    }
    .box-perguntas-faq{
        padding: 3vh 5vw;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 5vh;
    }
    .linha-pergunta{
        height: .5vh;
        width: 100%;
        background-color: #ffcd2a;
        margin: 2vh 0vw;
    }
}