@import '../root.css';

.banner_app{
    width: 100%;
    height: 100vh;
}

.titulo_banner_app{
    font-family: 'Barlow', sans-serif;
    color: white;
    border-radius: 10px;
    font-size: 3rem;
    text-align: center;
}